.card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    height: 300px;
    margin: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.add-button {
    align-items: center;
    justify-content: center;
    padding: 8px 18px;
    font-size: 35px;
    color:lightgreen;
    border: 2px solid lightgreen;
    background-color: white;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 90px;
    margin-left: 10px;

    &:hover {
        background-color: lightgreen;
        color: white;
    }
}
  
.card-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
}
