
.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  border: 1px solid #dee2e6;
  color: #007bff;
  background-color: #fff;
  cursor: pointer;
}

.active .page-link {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-link:hover {
  color: #0056b3;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
