@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.box-container {
  min-width: 70vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff6ea;
}

.auth-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 500px; /* Adjust the maximum width as needed */
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-container{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
  text-align: left;
}

.input-wrapper {
  width: 100%;
  box-sizing: border-box;
}

input,
select {
  line-height: 1;
  padding: 6px;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
}

.submit-button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  color:lightgreen;
  border: 2px solid lightgreen;
  background-color: white;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
      background-color: lightgreen;
      color: white;
  }
  
}