@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.banner-container {
    font-family: "Poppins", sans-serif;
    display: flex;
    
}

.message {
    flex: 1;
    padding: 20px;
    line-height: 0.7;
    margin-top: 150px;
    margin-left: 80px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 54px;
}

.image-container {
    margin-top: 50px;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: 600px;
    height: 600px;
}

.button-container {
    margin-top: 50px;
    font-size: 18px;
}

.custom-button {
    display: flex-end;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 8px 18px;
    color:lightgreen;
    border: 2px solid lightgreen;
    background-color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: lightgreen;
        color: white;
    }
}